.navbar {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.05);
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  gap: 8px;
  color: #111;
}

.nav-login-btn {
  color: #0085ff !important;
  font-weight: 700 !important;
  font-size: 15px;
  text-decoration: none !important;
}
